<h1>ADD NEW STUDENT</h1>

<form action="/output" method="post">
    <label for="">Name: </label>
    <input type="text" name="ten" id=""><br>
    <label for="">Age: </label>
    <input type="number" name="tuoi" id=""><br>
    <label for="">Email: </label>
    <input type="email" name="email" id=""><br>
        <label for="">DOB: </label>
    <input type="date" name="ngaysinh" id=""><br>
    <input type="submit" value="Add">
</form>