<h1>Login account</h1>

<form action="/check" method="post">
    <label for="">Username:</label> <br>
    <input type="text" name="username" id=""> <br>
    <label for="">Password:</label> <br>
    <input type="password" name="password" id=""> <br>
    <button type="submit" class="btn btn-primary">Login</button>
</form>